GAS_STATION_BACK/data/flows_data_cf.json
[{"id":"2266462.678a0ba","type":"tab","label":"Data","disabled":false,"info":""},{"id":"e92cae4a.5afbc","type":"tab","label":"Data2","disabled":false,"info":""},{"id":"93925636.513b08","type":"json-db-collection","z":"","name":"Data","collection":"myData","save":true},{"id":"39d5dd09.f02572","type":"json-db-collection","z":"","name":"Data2","collection":"myData2","save":true},{"id":"ab40a476.3e7d08","type":"inject","z":"2266462.678a0ba","name":"Reset Tanks","topic":"","payload":"90000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":80,"wires":[["db137898.bb1708","7745288b.9cc428","5e6c90bd.f09ba"]]},{"id":"3c18820a.58bf8e","type":"debug","z":"2266462.678a0ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":180,"wires":[]},{"id":"db137898.bb1708","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank1_Start","update":false,"path":"/station/tank1/volume","x":297.50000762939453,"y":38.75000190734863,"wires":[]},{"id":"192697fd.411718","type":"DataOut","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tanks","path":"/","error":false,"x":250,"y":180,"wires":[["3c18820a.58bf8e","9b73f64b.260698"]]},{"id":"4541090f.a3cdd8","type":"inject","z":"2266462.678a0ba","name":"SendObject","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["192697fd.411718"]]},{"id":"778e3c58.5b8ac4","type":"inject","z":"2266462.678a0ba","name":"Trig_Data","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":"","x":110,"y":300,"wires":[["827dd357.2681f","d7b02ae6.466288","b52472ac.7dfa5"]]},{"id":"7745288b.9cc428","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank2_Start","update":false,"path":"/station/tank2/volume","x":297.50000762939453,"y":78.75000190734863,"wires":[]},{"id":"5e6c90bd.f09ba","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank3_Start","update":false,"path":"/station/tank3/volume","x":297.50000762939453,"y":118.75000190734863,"wires":[]},{"id":"827dd357.2681f","type":"DataOut","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank1_Receive","path":"/station/tank1","error":false,"x":340,"y":300,"wires":[["88761ca9.45ecb"]]},{"id":"88761ca9.45ecb","type":"function","z":"2266462.678a0ba","name":"Tank1_Alter","func":"var tank = msg.payload.volume;\nvar reduct;\nvar temp = 29;\nvar tipo = \"Regular 1\"\nvar dt = new Date();\nvar hour = dt.getHours();\nvar volum;\nvar state;\nvar level = msg.payload.refill;\nvar chk = msg.payload.check;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min + 1) ) + min;\n}\n\nif (hour > 12 && hour < 25)\n{\n    reduct = getRndInteger(250, 500);\n    volum = tank - reduct;\n}\nelse {\n    volum = tank;\n}\n\nif (volum >= 50000)\n{\n    state= \"Levels high. No need for action.\"\n}\nelse if (volum < 50000 && volum >=25000)\n{\n    state= \"Levels moderate. Prepare for refill.\"\n}\nelse if (volum < 25000)\n{\n    state= \"Levels low. Required.\"\n}\n\nif (volum < 50000)\n{\n    if (chk == 1)\n    {\n        level = getRndInteger(5000, 49000);\n        chk = 2;\n    }\n    if (chk == 2)\n    {\n        if (level > volum)\n        {\n            if (level < 16000)\n            {\n                volum = volum + 70000;\n                chk = 1;\n            }\n            else if (level >= 16000)\n            {\n                volum = volum + 35000;\n                chk =1;\n            }\n        }\n    }\n}\n\nmsg.payload = {volume: volum, temperature: temp, type: tipo, status: state, refill: level, check: chk};\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":360,"wires":[["dbc9b1a3.a92d4","7f76c05a.1312b"]]},{"id":"dbc9b1a3.a92d4","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank1_Send","update":false,"path":"/station/tank1","x":330,"y":360,"wires":[]},{"id":"7f76c05a.1312b","type":"debug","z":"2266462.678a0ba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":400,"wires":[]},{"id":"d7b02ae6.466288","type":"DataOut","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank2_Receive","path":"/station/tank2","error":false,"x":340,"y":440,"wires":[["a6120c1e.0353d"]]},{"id":"a6120c1e.0353d","type":"function","z":"2266462.678a0ba","name":"Tank2_Alter","func":"var tank = msg.payload.volume;\nvar reduct;\nvar temp = 29.5;\nvar tipo = \"Regular 2\";\nvar dt = new Date();\nvar hour = dt.getHours();\nvar volum;\nvar state;\nvar level = msg.payload.refill;\nvar chk = msg.payload.check;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min + 1) ) + min;\n}\n\nif (hour > -1 && hour < 13)\n{\n    reduct = getRndInteger(250, 500);\n    volum = tank - reduct;\n}\nelse {\n    volum = tank;\n}\n\nif (volum >= 50000)\n{\n    state= \"Levels high. No need for action.\"\n}\nelse if (volum < 50000 && volum >=25000)\n{\n    state= \"Levels moderate. Prepare for refill.\"\n}\nelse if (volum < 25000)\n{\n    state= \"Levels low. Required.\"\n}\n\nif (volum < 50000)\n{\n    if (chk == 1)\n    {\n        level = getRndInteger(5000, 49000);\n        chk = 2;\n    }\n    if (chk == 2)\n    {\n        if (level > volum)\n        {\n            if (level < 16000)\n            {\n                volum = volum + 70000;\n                chk = 1;\n            }\n            else if (level >= 16000)\n            {\n                volum = volum + 35000;\n                chk =1;\n            }\n        }\n    }\n}\n\nmsg.payload = {volume: volum, temperature: temp, type: tipo, status: state, refill: level, check: chk};\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":500,"wires":[["21124e8.64649b2","e12ca88a.7e7838"]]},{"id":"21124e8.64649b2","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank2_Send","update":false,"path":"/station/tank2","x":330,"y":500,"wires":[]},{"id":"e12ca88a.7e7838","type":"debug","z":"2266462.678a0ba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":540,"wires":[]},{"id":"b52472ac.7dfa5","type":"DataOut","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank3_Received","path":"/station/tank3","error":false,"x":340,"y":580,"wires":[["19da609c.8b46bf"]]},{"id":"19da609c.8b46bf","type":"function","z":"2266462.678a0ba","name":"Tank3_Alter","func":"var tank = msg.payload.volume;\nvar reduct;\nvar temp = 30;\nvar tipo = \"Premium\";\nvar dt = new Date();\nvar hour = dt.getHours();\nvar volum;\nvar state;\nvar level = msg.payload.refill;\nvar chk = msg.payload.check;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min + 1) ) + min;\n}\n\nred = getRndInteger(100, 250);\nvolum = tank - red;\n\nif (volum >= 50000)\n{\n    state= \"Levels high. No need for action.\"\n}\nelse if (volum < 50000 && volum >=25000)\n{\n    state= \"Levels moderate. Prepare for refill.\"\n}\nelse if (volum < 25000)\n{\n    state= \"Levels low. Required.\"\n}\n\nif (volum < 50000)\n{\n    if (chk == 1)\n    {\n        level = getRndInteger(5000, 49000);\n        chk = 2;\n    }\n    if (chk == 2)\n    {\n        if (level > volum)\n        {\n            if (level < 16000)\n            {\n                volum = volum + 70000;\n                chk = 1;\n            }\n            else if (level >= 16000)\n            {\n                volum = volum + 35000;\n                chk =1;\n            }\n        }\n    }\n}\n\nmsg.payload = {volume: volum, temperature: temp, type: tipo, status: state, refill: level, check: chk};\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":640,"wires":[["a3d6841e.adaa18","27c8133c.618d0c"]]},{"id":"a3d6841e.adaa18","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank3_Send","update":false,"path":"/station/tank3","x":330,"y":640,"wires":[]},{"id":"27c8133c.618d0c","type":"debug","z":"2266462.678a0ba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":680,"wires":[]},{"id":"2e2db555.38932a","type":"function","z":"2266462.678a0ba","name":"Testing","func":"var dt = new Date();\nvar hour = dt.getHours();\nvar object = msg.payload.tanks.tank1;\n//var conve = JSON.parse(jobject);\nvar status;\n\n//status = conve.test[0].data;\n\n\nmsg.payload = { datas: {data: \"First\", data2: 50 , data3: object} };\nreturn msg;","outputs":1,"noerr":0,"x":931.2500305175781,"y":306.2500591278076,"wires":[["b4246651.cba7b8","c0c2bd8c.e084d"]]},{"id":"b2b67b76.f4fd48","type":"inject","z":"2266462.678a0ba","name":"Trig_Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":638.7500152587891,"y":305.00005435943604,"wires":[["c5750855.09d4a8"]]},{"id":"b4246651.cba7b8","type":"debug","z":"2266462.678a0ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1116.2500305175781,"y":310.0000629425049,"wires":[]},{"id":"c0c2bd8c.e084d","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Test_Start","update":false,"path":"/test","x":1107.5000190734863,"y":357.5000629425049,"wires":[]},{"id":"5e68d455.be02bc","type":"function","z":"2266462.678a0ba","name":"Empty_Payload","func":"msg.payload = {  } ;\nreturn msg;","outputs":1,"noerr":0,"x":851.2500228881836,"y":177.50000095367432,"wires":[["2a99d30d.9f21ac","c58b083b.48ecb8"]]},{"id":"f2958cd8.8cbef","type":"inject","z":"2266462.678a0ba","name":"Clear JSON-DB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":671.2500228881836,"y":177.50000095367432,"wires":[["5e68d455.be02bc"]]},{"id":"2a99d30d.9f21ac","type":"debug","z":"2266462.678a0ba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":841.2500228881836,"y":237.50000095367432,"wires":[]},{"id":"c58b083b.48ecb8","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"DB_Empty","update":false,"path":"/","x":661.2500228881836,"y":237.50000095367432,"wires":[]},{"id":"c5750855.09d4a8","type":"DataOut","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Data_Test","path":"/","error":false,"x":782.5000228881836,"y":305.0000591278076,"wires":[["2e2db555.38932a"]]},{"id":"9b73f64b.260698","type":"ibmiot out","z":"2266462.678a0ba","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"tanks_mx_cf","deviceType":"1.0.4","eventCommandType":"event","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"quickstart","x":400,"y":220,"wires":[]},{"id":"497096b3.aa7778","type":"inject","z":"2266462.678a0ba","name":"Reset Location","topic":"","payload":"IBM Santa Fe","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":40,"wires":[["a8beb17d.1745e"]]},{"id":"a8beb17d.1745e","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank1_Start","update":false,"path":"/station/location","x":710,"y":40,"wires":[]},{"id":"8b7358c2.f84c58","type":"inject","z":"2266462.678a0ba","name":"Reset Status","topic":"","payload":"All operations functioning normally.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":80,"wires":[["cf76312c.a80f4"]]},{"id":"cf76312c.a80f4","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank1_Start","update":false,"path":"/station/status","x":710,"y":80,"wires":[]},{"id":"60b9dd88.ec5c24","type":"inject","z":"2266462.678a0ba","name":"Reset Level Refill","topic":"","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":40,"wires":[["c959f311.787bb","5855a1ca.50dfa","64cab54e.efd45c"]]},{"id":"c959f311.787bb","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank1_Start","update":false,"path":"/station/tank1/refill","x":1090,"y":40,"wires":[]},{"id":"5855a1ca.50dfa","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank2_Start","update":false,"path":"/station/tank2/refill","x":1090,"y":80,"wires":[]},{"id":"64cab54e.efd45c","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank3_Start","update":false,"path":"/station/tank3/refill","x":1090,"y":120,"wires":[]},{"id":"b3501cc4.1022e","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank1_Start","update":false,"path":"/station/tank1/check","x":1090,"y":160,"wires":[]},{"id":"b75be554.29b8b8","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank2_Start","update":false,"path":"/station/tank2/check","x":1090,"y":200,"wires":[]},{"id":"cee79c24.282ef","type":"DataIn","z":"2266462.678a0ba","collection":"93925636.513b08","name":"Tank3_Start","update":false,"path":"/station/tank3/check","x":1090,"y":240,"wires":[]},{"id":"fbb05f92.6532c","type":"inject","z":"2266462.678a0ba","name":"Reset Check","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":80,"wires":[["b3501cc4.1022e","b75be554.29b8b8","cee79c24.282ef"]]},{"id":"2db37b59.95c8a4","type":"inject","z":"e92cae4a.5afbc","name":"Reset Tanks","topic":"","payload":"90000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":80,"wires":[["e458ea3d.4a3838","3a53e5d0.65573a","fd56eefa.2b2ff"]]},{"id":"e5f5b7c6.d3a838","type":"debug","z":"e92cae4a.5afbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":180,"wires":[]},{"id":"e458ea3d.4a3838","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank1_Start","update":false,"path":"/station/tank1/volume","x":317.50000762939453,"y":38.75000190734863,"wires":[]},{"id":"e91b11e3.a085e","type":"DataOut","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tanks","path":"/","error":false,"x":270,"y":180,"wires":[["e5f5b7c6.d3a838","8123b2fb.06d27"]]},{"id":"678d56d6.35c9c8","type":"inject","z":"e92cae4a.5afbc","name":"SendObject","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["e91b11e3.a085e"]]},{"id":"ba110869.53ff08","type":"inject","z":"e92cae4a.5afbc","name":"Trig_Data","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":"","x":130,"y":300,"wires":[["162301a3.36af4e","8b21e34.911a52","632ba81a.ab5838"]]},{"id":"3a53e5d0.65573a","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank2_Start","update":false,"path":"/station/tank2/volume","x":317.50000762939453,"y":78.75000190734863,"wires":[]},{"id":"fd56eefa.2b2ff","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank3_Start","update":false,"path":"/station/tank3/volume","x":317.50000762939453,"y":118.75000190734863,"wires":[]},{"id":"162301a3.36af4e","type":"DataOut","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank1_Receive","path":"/station/tank1","error":false,"x":360,"y":300,"wires":[["4a4de943.269958"]]},{"id":"4a4de943.269958","type":"function","z":"e92cae4a.5afbc","name":"Tank1_Alter","func":"var tank = msg.payload.volume;\nvar reduct;\nvar temp = 29;\nvar tipo = \"Regular 1\"\nvar dt = new Date();\nvar hour = dt.getHours();\nvar volum;\nvar state;\nvar level = msg.payload.refill;\nvar chk = msg.payload.check;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min + 1) ) + min;\n}\n\nif (hour > 12 && hour < 25)\n{\n    reduct = getRndInteger(250, 500);\n    volum = tank - reduct;\n}\nelse {\n    volum = tank;\n}\n\nif (volum >= 50000)\n{\n    state= \"Levels high. No need for action.\"\n}\nelse if (volum < 50000 && volum >=25000)\n{\n    state= \"Levels moderate. Prepare for refill.\"\n}\nelse if (volum < 25000)\n{\n    state= \"Levels low. Required.\"\n}\n\nif (volum < 50000)\n{\n    if (chk == 1)\n    {\n        level = getRndInteger(5000, 49000);\n        chk = 2;\n    }\n    if (chk == 2)\n    {\n        if (level > volum)\n        {\n            if (level < 16000)\n            {\n                volum = volum + 70000;\n                chk = 1;\n            }\n            else if (level >= 16000)\n            {\n                volum = volum + 35000;\n                chk =1;\n            }\n        }\n    }\n}\n\nmsg.payload = {volume: volum, temperature: temp, type: tipo, status: state, refill: level, check: chk};\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":360,"wires":[["548fd012.6d9dd","45f120b7.203c"]]},{"id":"548fd012.6d9dd","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank1_Send","update":false,"path":"/station/tank1","x":350,"y":360,"wires":[]},{"id":"45f120b7.203c","type":"debug","z":"e92cae4a.5afbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":400,"wires":[]},{"id":"8b21e34.911a52","type":"DataOut","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank2_Receive","path":"/station/tank2","error":false,"x":360,"y":440,"wires":[["235362dc.fda28e"]]},{"id":"235362dc.fda28e","type":"function","z":"e92cae4a.5afbc","name":"Tank2_Alter","func":"var tank = msg.payload.volume;\nvar reduct;\nvar temp = 29.5;\nvar tipo = \"Regular 2\";\nvar dt = new Date();\nvar hour = dt.getHours();\nvar volum;\nvar state;\nvar level = msg.payload.refill;\nvar chk = msg.payload.check;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min + 1) ) + min;\n}\n\nif (hour > -1 && hour < 13)\n{\n    reduct = getRndInteger(250, 500);\n    volum = tank - reduct;\n}\nelse {\n    volum = tank;\n}\n\nif (volum >= 50000)\n{\n    state= \"Levels high. No need for action.\"\n}\nelse if (volum < 50000 && volum >=25000)\n{\n    state= \"Levels moderate. Prepare for refill.\"\n}\nelse if (volum < 25000)\n{\n    state= \"Levels low. Required.\"\n}\n\nif (volum < 50000)\n{\n    if (chk == 1)\n    {\n        level = getRndInteger(5000, 49000);\n        chk = 2;\n    }\n    if (chk == 2)\n    {\n        if (level > volum)\n        {\n            if (level < 16000)\n            {\n                volum = volum + 70000;\n                chk = 1;\n            }\n            else if (level >= 16000)\n            {\n                volum = volum + 35000;\n                chk =1;\n            }\n        }\n    }\n}\n\nmsg.payload = {volume: volum, temperature: temp, type: tipo, status: state, refill: level, check: chk};\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":500,"wires":[["16c39c7b.2f2734","78ef429b.865e9c"]]},{"id":"16c39c7b.2f2734","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank2_Send","update":false,"path":"/station/tank2","x":350,"y":500,"wires":[]},{"id":"78ef429b.865e9c","type":"debug","z":"e92cae4a.5afbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":540,"wires":[]},{"id":"632ba81a.ab5838","type":"DataOut","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank3_Received","path":"/station/tank3","error":false,"x":360,"y":580,"wires":[["ef82abe8.9d1678"]]},{"id":"ef82abe8.9d1678","type":"function","z":"e92cae4a.5afbc","name":"Tank3_Alter","func":"var tank = msg.payload.volume;\nvar reduct;\nvar temp = 30;\nvar tipo = \"Premium\";\nvar dt = new Date();\nvar hour = dt.getHours();\nvar volum;\nvar state;\nvar level = msg.payload.refill;\nvar chk = msg.payload.check;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min + 1) ) + min;\n}\n\nred = getRndInteger(100, 250);\nvolum = tank - red;\n\nif (volum >= 50000)\n{\n    state= \"Levels high. No need for action.\"\n}\nelse if (volum < 50000 && volum >=25000)\n{\n    state= \"Levels moderate. Prepare for refill.\"\n}\nelse if (volum < 25000)\n{\n    state= \"Levels low. Required.\"\n}\n\nif (volum < 50000)\n{\n    if (chk == 1)\n    {\n        level = getRndInteger(5000, 49000);\n        chk = 2;\n    }\n    if (chk == 2)\n    {\n        if (level > volum)\n        {\n            if (level < 16000)\n            {\n                volum = volum + 70000;\n                chk = 1;\n            }\n            else if (level >= 16000)\n            {\n                volum = volum + 35000;\n                chk =1;\n            }\n        }\n    }\n}\n\nmsg.payload = {volume: volum, temperature: temp, type: tipo, status: state, refill: level, check: chk};\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":640,"wires":[["f4d1faf0.fcacd8","912ef315.6a304"]]},{"id":"f4d1faf0.fcacd8","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank3_Send","update":false,"path":"/station/tank3","x":350,"y":640,"wires":[]},{"id":"912ef315.6a304","type":"debug","z":"e92cae4a.5afbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":680,"wires":[]},{"id":"9b9d25a5.311f08","type":"function","z":"e92cae4a.5afbc","name":"Empty_Payload","func":"msg.payload = {  } ;\nreturn msg;","outputs":1,"noerr":0,"x":871.2500228881836,"y":177.50000095367432,"wires":[["8507597f.46a958","b92c973b.ef9e68"]]},{"id":"a1ffb99d.4572a8","type":"inject","z":"e92cae4a.5afbc","name":"Clear JSON-DB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":691.2500228881836,"y":177.50000095367432,"wires":[["9b9d25a5.311f08"]]},{"id":"8507597f.46a958","type":"debug","z":"e92cae4a.5afbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":861.2500228881836,"y":237.50000095367432,"wires":[]},{"id":"b92c973b.ef9e68","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"DB_Empty","update":false,"path":"/","x":681.2500228881836,"y":237.50000095367432,"wires":[]},{"id":"8123b2fb.06d27","type":"ibmiot out","z":"e92cae4a.5afbc","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"tanks_gdl_cf","deviceType":"1.0.4","eventCommandType":"event","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"quickstart","x":420,"y":220,"wires":[]},{"id":"dc690a30.308b48","type":"inject","z":"e92cae4a.5afbc","name":"Reset Location","topic":"","payload":"IBM Guadalajara","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":40,"wires":[["57fb6016.0bf13"]]},{"id":"57fb6016.0bf13","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank1_Start","update":false,"path":"/station/location","x":730,"y":40,"wires":[]},{"id":"77c6f1f9.31f51","type":"inject","z":"e92cae4a.5afbc","name":"Reset Status","topic":"","payload":"All operations functioning normally.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":80,"wires":[["31e2cc24.8cb8c4"]]},{"id":"31e2cc24.8cb8c4","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank1_Start","update":false,"path":"/station/status","x":730,"y":80,"wires":[]},{"id":"ac8465d5.9471b8","type":"inject","z":"e92cae4a.5afbc","name":"Reset Level Refill","topic":"","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":40,"wires":[["cc4e06a2.857588","d170c163.a3b3c","3ada7850.8e87c8"]]},{"id":"cc4e06a2.857588","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank1_Start","update":false,"path":"/station/tank1/refill","x":1110,"y":40,"wires":[]},{"id":"d170c163.a3b3c","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank2_Start","update":false,"path":"/station/tank2/refill","x":1110,"y":80,"wires":[]},{"id":"3ada7850.8e87c8","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank3_Start","update":false,"path":"/station/tank3/refill","x":1110,"y":120,"wires":[]},{"id":"4ab1dd42.eb7184","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank1_Start","update":false,"path":"/station/tank1/check","x":1110,"y":160,"wires":[]},{"id":"2af58cb6.112da4","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank2_Start","update":false,"path":"/station/tank2/check","x":1110,"y":200,"wires":[]},{"id":"a1586782.96b448","type":"DataIn","z":"e92cae4a.5afbc","collection":"39d5dd09.f02572","name":"Tank3_Start","update":false,"path":"/station/tank3/check","x":1110,"y":240,"wires":[]},{"id":"46e9c79b.41e8d8","type":"inject","z":"e92cae4a.5afbc","name":"Reset Check","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":80,"wires":[["4ab1dd42.eb7184","2af58cb6.112da4","a1586782.96b448"]]}]