GAS_STATION_FRONT/data/flows_dash_cf.json
[{"id":"612cf063.dfa9e","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"44cd010d.4fa1","type":"tab","label":"Dashboard2","disabled":false,"info":""},{"id":"7a6da171.fe569","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0080ff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#0080ff","edited":true},"page-titlebar-backgroundColor":{"value":"#0080ff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4da6ff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0080ff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Gas Station Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f8918396.5446b","type":"ui_tab","z":"","name":"IBM Gas Station","icon":"settings_remote","order":1,"disabled":false,"hidden":false},{"id":"2d863826.486fc8","type":"ui_group","z":"","name":"IBM Gas Station","tab":"f8918396.5446b","order":1,"disp":true,"width":"11","collapse":false},{"id":"81a147be.38e6f8","type":"ui_group","z":"","name":"Tank 1","tab":"f8918396.5446b","order":3,"disp":true,"width":"7","collapse":false},{"id":"e02b4300.abec7","type":"ui_group","z":0,"name":"Tank 2","tab":"f8918396.5446b","order":4,"disp":true,"width":"7","collapse":false},{"id":"8a2dc3d7.c5c16","type":"ui_group","z":0,"name":"Tank 3","tab":"f8918396.5446b","order":5,"disp":true,"width":"7","collapse":false},{"id":"4e5d171f.9012e8","type":"ui_group","z":"","name":"History Level","tab":"f8918396.5446b","order":2,"disp":true,"width":"10","collapse":false},{"id":"d713d0f8.0294d","type":"ui_tab","z":"","name":"IBM Gas Station GDL","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c86a7337.d2572","type":"ui_group","z":"","name":"IBM Gas Station","tab":"d713d0f8.0294d","order":1,"disp":true,"width":"11","collapse":false},{"id":"28fd814c.7456ce","type":"ui_group","z":"","name":"History Level","tab":"d713d0f8.0294d","order":2,"disp":true,"width":"10","collapse":false},{"id":"276a254f.5ad10a","type":"ui_group","z":"","name":"Tank 1","tab":"d713d0f8.0294d","order":3,"disp":true,"width":"7","collapse":false},{"id":"f2b82205.44f2c","type":"ui_group","z":"","name":"Tank 2","tab":"d713d0f8.0294d","order":4,"disp":true,"width":"7","collapse":false},{"id":"36d38fc8.2a92a","type":"ui_group","z":"","name":"Tank 3","tab":"d713d0f8.0294d","order":5,"disp":true,"width":"7","collapse":false},{"id":"aaf8e954.2768f8","type":"ibmiot in","z":"612cf063.dfa9e","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"tanks_mx_cf","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":160,"wires":[["e1516a4b.e0f318","5157b2ef.5feecc","87b5b71.f33c248","3218c2e6.4f4fde","cf572d62.35c84","a8503e53.17366","983de3ad.b66e9","a1020032.cf3c7","3f037c0d.3a02c4","44ce839a.afde0c","af0b7673.87f8a8","cb437241.42a15","229b17c5.d3bc78","8cdbdb79.573928","8d372e47.6234c"]]},{"id":"dc5720bc.925","type":"ui_template","z":"612cf063.dfa9e","group":"2d863826.486fc8","name":"","order":4,"width":"6","height":"6","format":"<div class=\"mapouter\"><div class=\"gmap_canvas\"><iframe width=\"300\" height=\"300\" id=\"gmap_canvas\" src=\"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15055.71593749546!2d-99.2611742!3d19.3722274!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe146f685b596d5c7!2sIBM%20de%20M%C3%A9xico%2C%20S.%20de%20R.L.%20de%20C.V.!5e0!3m2!1ses-419!2sus!4v1567435542817!5m2!1ses-419!2sus\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\"></iframe><a href=\"https://www.pureblack.de\"></a></div><style>.mapouter{position:relative;text-align:right;height:300px;width:300px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:300px;}</style></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":80,"wires":[[]]},{"id":"9a353759.cee9b8","type":"ui_template","z":"612cf063.dfa9e","group":"2d863826.486fc8","name":"IBM Logo","order":3,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://marketingland.com/wp-content/ml-loads/2016/06/ibm-watson-black2-1920.jpg\");\n        background-size: cover;\n    }\n    \n        #IBM_Gas_Station_Tank_2 {\n    opacity : 0.9;\n    }\n        #IBM_Gas_Station_Tank_1 {\n    opacity : 0.9;\n    }\n            #IBM_Gas_Station_Tank_3 {\n    opacity : 0.9;\n    }\n            #IBM_Gas_Station_IBM_Gas_Station {\n    opacity : 0.9;\n    }\n            #IBM_Gas_Station_History_Level {\n    opacity : 0.9;\n    }\n    \n    .masonry-container{\n      max-width: 1250px !important;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":100,"y":40,"wires":[[]]},{"id":"cf572d62.35c84","type":"ui_text","z":"612cf063.dfa9e","group":"2d863826.486fc8","order":1,"width":"0","height":"0","name":"","label":"Station Location","format":": {{msg.payload.station.location}}","layout":"row-left","x":320,"y":160,"wires":[]},{"id":"e1516a4b.e0f318","type":"function","z":"612cf063.dfa9e","name":"Tank 1","func":"\nmsg.topic= msg.payload.station.tank1.type;\nmsg.payload= msg.payload.station.tank1.volume;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":240,"wires":[["6d045468.e41e6c"]]},{"id":"5157b2ef.5feecc","type":"function","z":"612cf063.dfa9e","name":"Tank 2","func":"\nmsg.topic= msg.payload.station.tank2.type;\nmsg.payload=msg.payload.station.tank2.volume;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":280,"wires":[["6d045468.e41e6c"]]},{"id":"87b5b71.f33c248","type":"function","z":"612cf063.dfa9e","name":"Tank 3","func":"\nmsg.topic= msg.payload.station.tank3.type;\nmsg.payload=msg.payload.station.tank3.volume;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":320,"wires":[["6d045468.e41e6c"]]},{"id":"3218c2e6.4f4fde","type":"debug","z":"612cf063.dfa9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":120,"wires":[]},{"id":"6d045468.e41e6c","type":"ui_chart","z":"612cf063.dfa9e","name":"","group":"4e5d171f.9012e8","order":1,"width":"10","height":"8","label":"History Level","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":310,"y":600,"wires":[[]]},{"id":"a8503e53.17366","type":"ui_text","z":"612cf063.dfa9e","group":"2d863826.486fc8","order":2,"width":"0","height":"0","name":"","label":"Station Status","format":": {{msg.payload.station.status}}","layout":"row-left","x":320,"y":200,"wires":[]},{"id":"983de3ad.b66e9","type":"ui_text","z":"612cf063.dfa9e","group":"81a147be.38e6f8","order":3,"width":0,"height":0,"name":"Temp_T1","label":"Temperature","format":": {{msg.payload.station.tank1.temperature}} °C","layout":"row-left","x":300,"y":240,"wires":[]},{"id":"a1020032.cf3c7","type":"ui_text","z":"612cf063.dfa9e","group":"e02b4300.abec7","order":3,"width":0,"height":0,"name":"Temp_T2","label":"Temperature","format":": {{msg.payload.station.tank2.temperature}} °C","layout":"row-left","x":300,"y":280,"wires":[]},{"id":"3f037c0d.3a02c4","type":"ui_text","z":"612cf063.dfa9e","group":"8a2dc3d7.c5c16","order":3,"width":0,"height":0,"name":"Temp_T3","label":"Temperature","format":": {{msg.payload.station.tank3.temperature}} °C","layout":"row-left","x":300,"y":320,"wires":[]},{"id":"44ce839a.afde0c","type":"ui_gauge","z":"612cf063.dfa9e","name":"Volume_T1","group":"81a147be.38e6f8","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.station.tank1.type}}","label":"L","format":"{{msg.payload.station.tank1.volume}}","min":0,"max":"90000","colors":["#ff2600","#fffc00","#96d35f"],"seg1":"25000","seg2":"50000","x":310,"y":360,"wires":[]},{"id":"af0b7673.87f8a8","type":"ui_gauge","z":"612cf063.dfa9e","name":"Volume_T2","group":"e02b4300.abec7","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.station.tank2.type}}","label":"L","format":"{{msg.payload.station.tank2.volume}}","min":0,"max":"90000","colors":["#ff2600","#fffc00","#96d35f"],"seg1":"25000","seg2":"50000","x":310,"y":400,"wires":[]},{"id":"cb437241.42a15","type":"ui_gauge","z":"612cf063.dfa9e","name":"Volume_T3","group":"8a2dc3d7.c5c16","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.station.tank3.type}}","label":"L","format":"{{msg.payload.station.tank3.volume}}","min":0,"max":"90000","colors":["#ff2600","#fffc00","#96d35f"],"seg1":"25000","seg2":"50000","x":310,"y":440,"wires":[]},{"id":"229b17c5.d3bc78","type":"ui_text","z":"612cf063.dfa9e","group":"81a147be.38e6f8","order":4,"width":0,"height":0,"name":"Status_T1","label":"Status","format":": {{msg.payload.station.tank1.status}}","layout":"row-left","x":310,"y":480,"wires":[]},{"id":"8cdbdb79.573928","type":"ui_text","z":"612cf063.dfa9e","group":"e02b4300.abec7","order":4,"width":0,"height":0,"name":"Status_T2","label":"Status","format":": {{msg.payload.station.tank2.status}}","layout":"row-left","x":310,"y":520,"wires":[]},{"id":"8d372e47.6234c","type":"ui_text","z":"612cf063.dfa9e","group":"8a2dc3d7.c5c16","order":4,"width":0,"height":0,"name":"Status_T3","label":"Status","format":": {{msg.payload.station.tank3.status}}","layout":"row-left","x":310,"y":560,"wires":[]},{"id":"b1f72eb9.0dd42","type":"ui_template","z":"44cd010d.4fa1","group":"c86a7337.d2572","name":"IBM Logo","order":3,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://marketingland.com/wp-content/ml-loads/2016/06/ibm-watson-black2-1920.jpg\");\n        background-size: cover;\n    }\n    \n        #IBM_Gas_Station_GDL_Tank_2 {\n    opacity : 0.9;\n    }\n        #IBM_Gas_Station_GDL_Tank_1 {\n    opacity : 0.9;\n    }\n            #IBM_Gas_Station_GDL_Tank_3 {\n    opacity : 0.9;\n    }\n            #IBM_Gas_Station_GDL_IBM_Gas_Station {\n    opacity : 0.9;\n    }\n            #IBM_Gas_Station_GDL_History_Level {\n    opacity : 0.9;\n    }\n    \n    .masonry-container{\n      max-width: 1250px !important;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":120,"y":40,"wires":[[]]},{"id":"766ecf2c.09c93","type":"ibmiot in","z":"44cd010d.4fa1","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"tanks_gdl_cf","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":160,"wires":[["f178c5c1.3235c8","2da40281.398eee","f17b6e5b.5e138","60835379.58208c","9cef68cf.726258","85f12a36.4b2b18","cd776ee.6cdaa9","48bcf383.ed1a9c","832e198f.084f68","a17720d6.29e74","a98ca52.792b458","fb4f749.a6db788","34f7a864.823828","e39ec6f3.510ec8","aaaa5c41.63b07"]]},{"id":"8d067295.b2db3","type":"ui_template","z":"44cd010d.4fa1","group":"c86a7337.d2572","name":"","order":4,"width":"6","height":"6","format":"<div class=\"mapouter\"><div class=\"gmap_canvas\"><iframe width=\"300\" height=\"300\" id=\"gmap_canvas\" src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.5170384067233!2d-103.29353628512449!3d20.566932486250437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f4cc847699a75%3A0x980aa4620402bf77!2sIBM%20Technology%20Campus%20Guadalajara!5e0!3m2!1sen!2smx!4v1586177979238!5m2!1sen!2smx\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\"></iframe><a href=\"https://www.pureblack.de\"></a></div><style>.mapouter{position:relative;text-align:right;height:300px;width:300px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:300px;}</style></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":120,"y":80,"wires":[[]]},{"id":"9cef68cf.726258","type":"ui_text","z":"44cd010d.4fa1","group":"c86a7337.d2572","order":1,"width":"0","height":"0","name":"","label":"Station Location","format":": {{msg.payload.station.location}}","layout":"row-left","x":340,"y":160,"wires":[]},{"id":"f178c5c1.3235c8","type":"function","z":"44cd010d.4fa1","name":"Tank 1","func":"\nmsg.topic= msg.payload.station.tank1.type;\nmsg.payload= msg.payload.station.tank1.volume;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":240,"wires":[["ff9ab8dc.c5ff78"]]},{"id":"2da40281.398eee","type":"function","z":"44cd010d.4fa1","name":"Tank 2","func":"\nmsg.topic= msg.payload.station.tank2.type;\nmsg.payload=msg.payload.station.tank2.volume;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":280,"wires":[["ff9ab8dc.c5ff78"]]},{"id":"f17b6e5b.5e138","type":"function","z":"44cd010d.4fa1","name":"Tank 3","func":"\nmsg.topic= msg.payload.station.tank3.type;\nmsg.payload=msg.payload.station.tank3.volume;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":320,"wires":[["ff9ab8dc.c5ff78"]]},{"id":"60835379.58208c","type":"debug","z":"44cd010d.4fa1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":120,"wires":[]},{"id":"ff9ab8dc.c5ff78","type":"ui_chart","z":"44cd010d.4fa1","name":"","group":"28fd814c.7456ce","order":1,"width":"10","height":"8","label":"History Level","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":600,"wires":[[]]},{"id":"85f12a36.4b2b18","type":"ui_text","z":"44cd010d.4fa1","group":"c86a7337.d2572","order":2,"width":"0","height":"0","name":"","label":"Station Status","format":": {{msg.payload.station.status}}","layout":"row-left","x":340,"y":200,"wires":[]},{"id":"cd776ee.6cdaa9","type":"ui_text","z":"44cd010d.4fa1","group":"276a254f.5ad10a","order":2,"width":0,"height":0,"name":"Temp_T1","label":"Temperature","format":": {{msg.payload.station.tank1.temperature}} °C","layout":"row-left","x":320,"y":240,"wires":[]},{"id":"48bcf383.ed1a9c","type":"ui_text","z":"44cd010d.4fa1","group":"f2b82205.44f2c","order":2,"width":0,"height":0,"name":"Temp_T2","label":"Temperature","format":": {{msg.payload.station.tank2.temperature}} °C","layout":"row-left","x":320,"y":280,"wires":[]},{"id":"832e198f.084f68","type":"ui_text","z":"44cd010d.4fa1","group":"36d38fc8.2a92a","order":2,"width":0,"height":0,"name":"Temp_T3","label":"Temperature","format":": {{msg.payload.station.tank3.temperature}} °C","layout":"row-left","x":320,"y":320,"wires":[]},{"id":"a17720d6.29e74","type":"ui_gauge","z":"44cd010d.4fa1","name":"Volume_T1","group":"276a254f.5ad10a","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.station.tank1.type}}","label":"L","format":"{{msg.payload.station.tank1.volume}}","min":0,"max":"90000","colors":["#ff2600","#fffc00","#96d35f"],"seg1":"25000","seg2":"50000","x":330,"y":360,"wires":[]},{"id":"a98ca52.792b458","type":"ui_gauge","z":"44cd010d.4fa1","name":"Volume_T2","group":"f2b82205.44f2c","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.station.tank2.type}}","label":"L","format":"{{msg.payload.station.tank2.volume}}","min":0,"max":"90000","colors":["#ff2600","#fffc00","#96d35f"],"seg1":"25000","seg2":"50000","x":330,"y":400,"wires":[]},{"id":"fb4f749.a6db788","type":"ui_gauge","z":"44cd010d.4fa1","name":"Volume_T3","group":"36d38fc8.2a92a","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.station.tank3.type}}","label":"L","format":"{{msg.payload.station.tank3.volume}}","min":0,"max":"90000","colors":["#ff2600","#fffc00","#96d35f"],"seg1":"25000","seg2":"50000","x":330,"y":440,"wires":[]},{"id":"34f7a864.823828","type":"ui_text","z":"44cd010d.4fa1","group":"276a254f.5ad10a","order":3,"width":0,"height":0,"name":"Status_T1","label":"Status","format":": {{msg.payload.station.tank1.status}}","layout":"row-left","x":330,"y":480,"wires":[]},{"id":"e39ec6f3.510ec8","type":"ui_text","z":"44cd010d.4fa1","group":"f2b82205.44f2c","order":3,"width":0,"height":0,"name":"Status_T2","label":"Status","format":": {{msg.payload.station.tank2.status}}","layout":"row-left","x":330,"y":520,"wires":[]},{"id":"aaaa5c41.63b07","type":"ui_text","z":"44cd010d.4fa1","group":"36d38fc8.2a92a","order":3,"width":0,"height":0,"name":"Status_T3","label":"Status","format":": {{msg.payload.station.tank3.status}}","layout":"row-left","x":330,"y":560,"wires":[]}]